<h2>******** Welcome to the longest word-game !********</h2>
<h3>Here is your grid :</h3>
<h3><%= @grid %></h3>
<h3>*****************************************************</h3>
<form class ="text-center" action="/results">
  <h3><label for="answer">What is your best shot?</label></h3>
  <input type="hidden" name="grid" value="<%= @grid %>">
  <input type="text" id="answer" name="answer" placeholder="Guess.....">
  <input type="submit" class="btn btn-primary" value="Submit!">
</form>
